.info {
    display: flex;
    flex-direction: column;
}

.info>button {
    width: 22%;
    display: flex;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

h2 {
    font-family: Caveat;
    font-size: 40px;
    color: var(--brown);
}

.category {
    width: auto;
    color: white;
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid #FF8DA1;
}

.category:hover {
    border: 1px solid #F9748B;
    cursor: pointer;
}

.stars {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/icons/star-filled.png');
    /* Replace with your filled star image */
    background-size: cover;
}

.stars.empty {
    background-image: url('/icons/star.png');
    /* Replace with your empty star image */
}

.background1 {
    background-image: url(/icons/Background1.png);
    background-size: cover;
    background-position: center;
}

.background2 {
    background-image: url(/icons/Background2.png);
    background-size: cover;
    background-position: center;
}

.background3 {
    background-image: url(/icons/Background3.png);
}

.background4 {
    background-image: url(/icons/Background4.png);
    background-size: cover;
    background-position: center;
}