.info {
    display: flex;
    flex-direction: column;
}

.info>button {
    width: 22%;
    display: flex;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.category {
    width: auto;
    background-color: white;
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid gray;

}

.category:hover {
    background-color: rgb(186, 242, 237);

    border: 1px solid black;
}