* {
    --brown: #41000d;
    --yellow: #fbd78e;
    --red: #f9748b;
    --blue: #3dd8d2;
    --beige: #f9f1eb;

    font-family: Varela;
    color: var(--brown);

    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Caveat;
    src: url("/css/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Varela;
    src: url("/css/fonts/Varela_Round/VarelaRound-Regular.ttf");
}

/* body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    background-color: var(--beige);
    max-height: 900px;
    max-width: 500px;
    display: flex;
    min-width: 300px;
    min-height: 700px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;
    background-image: url("/icons/Leaves.png");
}

main {
    overflow: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
} */

.stickyHeader {
    position: sticky;
    top: 0;
}

.nameOfApplication {
    font-size: 20px;
    padding: 10px 6px 0px 5px;
    border: 1px solid var(--brown);
    /* height: auto; */
    margin: 0px 5px;
    border-radius: 10px;
}

#profilePicture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}


.menuPart {
    height: 4px;
    width: 40px;
    margin: 8px 0px;
    background-color: #41000d;
}

.image {
    background-image: url("../icons/test-01.png");
    height: 150px;
    width: 150px;
    background-size: contain;
    border-radius: 50%;
    text-align: center;
}


input {
    text-align: center;
    height: 40px;
    width: 90%;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;

    box-sizing: border-box;
}

button {
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    width: 90%;
}

footer {
    margin-top: auto;
}

.recipe {
    position: relative;
    background-color: #f9748b;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 5px;
}

.recipe:hover {
    background-color: #ff8fa1;
}

.recipe>h2 {
    font-family: Caveat;
}

img {
    width: 270px;
    border-radius: 10px;
}

.icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url("/icons/blank-face-test.webp");
}

#popUp {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -20px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* max-height: 900px;
    max-width: 500px;
    min-width: 300px;
    min-height: 500px; */
}

#popUpBackground {
    position: absolute;
    background-color: white;

    opacity: 50%;
    /* height: 100%;
    width: 100%; */
    max-height: 900px;
    max-width: 500px;
    min-width: 300px;
    min-height: 500px;
}

#popUpWindow {
    position: absolute;
    background-color: var(--beige);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #41000d47;
}

#popUpWindow button {
    border: 2px solid var(--brown);
    border-radius: 5px;
    background-color: var(--beige);

    transition: 0.5s;
}

#popUpWindow button:hover {
    background-color: var(--brown);
    color: var(--beige);
}

.hidden {
    display: none !important;
}

/* :) /////////////// */



input {
    border: none;
}

#menu {
    transition: transform 1s;
}

.spin {
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
}

#testt {
    /* animation-name: example;
    animation-duration: 1s;
    animation-direction: reverse; */


}

.test {
    display: block;
    animation-name: example;
    animation-duration: 1s;
    position: absolute;
    background-color: #f9f1eb;
    width: 250px;
    height: 600px;

    /* box-shadow: 10px 0px 10px #41000d; */
    /* 
    animation-name: example;
    animation-duration: 1s;
    animation-direction: reverse; */
}

/* .closed {
    animation-name: example;
    animation-direction: reverse;
    animation-duration: 1s;

    transform: translateX(0%);
    transition: transform 1s ease;
} */

@keyframes example {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }
}

#loading {
    position: absolute;
    min-height: 640px;
    width: 340px;
    margin: -20px;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading>img {
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#loading>div {
    position: absolute;
    background-color: white;

    opacity: 30%;
    height: 100%;
    width: 100%;
}

.goBack {
    background-image: url("/icons/pil.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border: none;

}


#pfp {
    height: 50px;
    width: 50px;
    background-size: contain;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    align-self: center;

}

.author {
    display: flex;
    flex-direction: column;
}

#liker>button {
    height: 30px;
    width: 30px;
    background-color: #eff0ea;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
}

#liker>button:hover {
    background-color: #e4e8d0;
}

#liker #first {
    background-image: url(/icons/like_empty.png);
    position: absolute;
    top: -5px;
    right: -5px;
}

#liker #second {
    background-image: url(/icons/like_full.png);
    background-size: contain;
    transition: opacity .5s;
    opacity: 0;
    display: none;

    transition: 1s display;
}

#liker.liked #second {
    position: absolute;
    display: block;
    opacity: 1;
    top: -5px;
    right: -5px;
}