.icon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgba(228, 230, 231, 255);

    background-image: url(../icons/blank-face-test.webp);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   gap: 5px;
}

.columns>* {
    transition: color 0.3s;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.columns>*:hover {
    color: gray;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
    cursor: pointer;
}

#sticky {
    display: none;
}

.create_recipe {
    background-color: palevioletred;
    border-radius: 10px;
    padding: 10px;
}

.create_recipe:hover {
    background-color: rgb(188, 94, 125);
    cursor: pointer;
}

.disabled{
    background-color: rgb(236, 174, 193);
}
.disabled:hover{
    background-color: rgb(236, 174, 193);
    cursor:auto;
}
.test {
    height: 100px;
    width: 100px;
}
